.navbar__container{
    
    display: flex;
    flex-direction: row;
    margin-top: 0.75rem;
    justify-content: space-between;
    padding: 0 2rem;
}

.navbar__1{
    display: flex;
    flex-direction: row;
    /* gap: 2rem; */
}
.navbar__logo{
    height: 70px;
    aspect-ratio: 1/1;
}
.navbar__ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.navbar__li{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 5px;
    
}

.make__own{
    font-weight: bold;
    margin: 0 0 0 5px;
    font-size: 16px;
    border-radius: 5rem;
    padding: 15px 23.5px 15px 25.5px;
    cursor: pointer;
}

.login__navbar{
    color: black;
    text-decoration: none;
    margin: 0 2rem ;
    transition: all 0.4s ease;

}
.login__navbar:hover{
    font-weight: bold;
}

.nav__cross,
.nav__toggle{
    display: none;
}



/* BREAKPOINTS */

/* For large devices */
@media screen and (max-width:992px) {
    .navbar__ul, .navbar__2{
        /* display: none; */
    }

    .nav__toggle{
        /* display: block; */
    }
    .navbar__ul{
        display: grid;

        grid-template-columns: repeat(2,1fr);
        justify-content:center;
        border: 1ps solid red ;

    }
  }
  
  /* For medium devices */
  @media screen and (max-width:768px) {
    
  }
  
  @media screen and (max-width:576px) {
    
  }
  
  
  /* For small devices */
  @media screen and (max-width:350px) {
    
  }