@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Poppins', sans-serif;

  /* margin-top: 0.5rem; */

}
body{
  /* max-width: 2260px; */
  padding: 0 0.5rem;
}

button{
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: 200;
}